.App {
  text-align: center;
  background-color: rgb(26, 26, 36);
  background-image: linear-gradient(rgb(26, 26, 36), rgb(42, 42, 62));
  height: 100vh;
  width: 100vw;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  padding-top: 20px;
}
.titlesContainer{  
  padding-top: 20px;
}
.titleBox{
  height: 140px;
  width: 140px;
  background-color: gray;
  text-align: center;  
  display: inline-block;  
  cursor: pointer;  
  margin: 10px;
  vertical-align: top;
  position: relative;
  box-shadow: 0 0 10px rgb(24, 23, 23);
  border: 1px solid rgb(160, 160, 160);
  box-sizing: border-box;
}
.titleBox:hover{
  background-color: rgb(155, 151, 151);
  box-shadow: 0 0 10px gold;
}
.titleBoxInner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}
.newNoteBox{
  background-image: url('./Images/cubefield.gif');
  background-size: contain;
  color: white;
}
.newNoteBox div{
  margin-bottom: 10px;
  filter: opacity(0);
  transition: 1000ms;
  font-size: 2px; 
}
.newNoteBox:hover div{
  margin-bottom: 0px;
  filter: opacity(1); 
  font-size: 16px; 
}
.titleBoxInner img{
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
.edit{
  /* height: 90vh;
  width: 90vw;
  margin: 5vh 5vw;
  background-color: gray; */
  position: relative;
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(54, 54, 54);
}
.edit input{
  width: 96%;
  margin: 5px auto;  
  border: none;
  box-sizing: border-box;
  outline: none;
  height: 30px;
  padding: 5px;
  background-color: rgb(188, 188, 188);
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(54, 54, 54);
}
.edit textarea{
  min-width: 96%;
  max-width: 96%;
  height: calc(100vh - 105px);
  margin: 5px auto;  
  border: none;
  box-sizing: border-box;
  outline: none;
  min-height: 200px;
  padding: 5px;
  background-color: rgb(188, 188, 188);
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(54, 54, 54);
}
.buttonBox{
  display: flex;
  height: 30px;
  line-height: 30px;
  width: 96%;
  margin: 5px auto;
  position: absolute;
  bottom: 5px;
  left: 2%;
}
.button:hover{
  background-color: rgb(142, 142, 142);
  box-shadow: 0 0 10px gold;
}

.noteViewTitle{
  width: 96%;
  margin: 5px auto 10px auto;
  background-color: gray;
  height: 40px;
  line-height: 40px;
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(54, 54, 54);
}
.noteLineContainer{
  width: 96%;
  margin: 5px auto;
  overflow-y: auto;
  height: calc(100vh - 120px);
}
.noteLine{
  width: 100%;
  margin: 3px 0;
  background-color: gray;
  transition: 1000ms;
  border-radius: 2px;
  box-shadow: 0 0 5px rgb(54, 54, 54);
}
.noteLine:hover{
  background-color: rgb(157, 157, 157);
  transition: 100ms;
}
.selectedLine{
  background-color: rgb(157, 157, 157);
  transition: 100ms;
}
.editButton{
  width: 100%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  line-height: 40px;
}
.editButton:hover{
  background-color: rgb(180, 179, 179);
  box-shadow: 0 0 10px gold;
}
.buttonContainer{
  display: flex;
  width: 96%;
  margin-left: 2%;  
  box-sizing: border-box;
  height: 30px;
  line-height: 30px;  
}
.buttonContainer div{
  flex: 1;
  background-color: rgb(82, 111, 161);
  transition: 500ms;
  cursor: pointer;
  border-left: 1px solid rgba(91, 90, 90, 0.765);
}
.buttonContainer div:hover{
  background-color: rgb(58, 120, 227);
  box-shadow: 0 0 10px rgb(82, 111, 161);
  transition: 100ms;
}